h2 {
    font-size: large;
}

.inicio {
    justify-content: start;
    color: white;
    text-align: start;
    margin: 1em;
}

.nombreEmpresa {
    color: lightblue;
}

.titulo {
    color: cadetblue;
}

.facebook {
    color: lightseagreen;
}

.imgFacebook {
    width: 2em;
    height: auto;
}