h2 {
    font-size: large;
}

.inicio {
    justify-content: start;
    color: white;
    text-align: start;
    margin: 1em;
}

.nombreEmpresa {
    color: lightblue;
}

.titulo {
    color: cadetblue;
}

.facebook {
    color: lightseagreen;
}

.imgFacebook {
    width: 2em;
    height: auto;
}

.titulo3 {
    text-align: center;
}

.horarios {
    display: flex;
    justify-content: center;
}

.tabla {
    border-style: solid;
    border-color: cadetblue;
    padding: 0.5em;
}

.datoTabla {
    padding: 0em 1em;
}